* {
    margin: 0rem;
    padding: 0;
}

.navbar {
    font-family: "Madimi One", sans-serif;
    background: #6f0000;
}

.navbar-collapse {
    justify-content: right;
}

body {
    max-width: 100%;
    max-height: fit-content;
    align-content: center;
    background-position: 5%;
}

.opening {
    color: #ffffff;
    max-width: 100%;
    top: 12%;
}

h1 {
    font-family: "Madimi One", sans-serif;
    text-align: center;
    color: #000000 !important;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #3c3c3c !important;
}

.search-bar {
    max-width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search {
    border: none;
    border-radius: 10px;
    max-width: 400px;
    padding: 7px;
    font-size: 20px;
    background-color: #c0c0c0;
    color: #343434;
}


.btn {
    max-width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

div#btn1 {
    padding: 0%;
    float: left;
    margin-left: 5px;
    align-self: center;
}

div#btn2 {
    padding: 0%;
    float: right;
    margin-right: 5px;
    align-self: center;
}

      
.button:focus {
        outline: 0;
}
      
      
.button:hover:after {
        bottom: 2px;
        left: 2px;
}
      
      @media (min-width: 768px) {
        .button {
          padding: .75rem 3rem;
          font-size: 1.25rem;
        }
      }

.output {
    max-width: 1000px;
    max-height: 220px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
}

.pagination {
    display : flex;
    max-width: fit-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;    
}
.buttons{
    display:flex;
    justify-content:center;
    gap:5px;
    margin-top:20px;

}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #6f0000; 
}

.footer {
    padding-right: 5px;
    color: white !important;
    text-align: right;
}